body {
    padding: 2em;
    font-size: 20px;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}
.instructions {
    font-size: 15px;
    text-align: left;
    margin-left: 2em;
    line-height: 0.1

}
img {
    margin-top: 30px;
    height: 100px;
    width: 100px;
}

#inn, #dagger, #bag {
    cursor: pointer;
}

form {
    margin-left: 2em
}

.formSection {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

input {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #999;
    min-height: 2rem;
    font-size: 1.2rem;
}

.button {
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
}

#attackButton {
    margin: 0 auto;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}